# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  schedule: [{cron: "0 12 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          filename: github-metrics.svg
          user: FizzyApple12
          template: classic
          base: activity, community, repositories, metadata
          base_indepth: yes
          
          #config_display: columns
          #config_order: base.activity+community, base.repositories, people, languages, activity, code
          config_timezone: America/Indiana/Indianapolis
          
          #plugin_activity: yes
          #plugin_activity_days: 14
          #plugin_activity_filter: all
          #plugin_activity_limit: 4
          #plugin_activity_load: 300
          #plugin_activity_visibility: all
          
          #plugin_code: yes
          #plugin_code_days: 3
          #plugin_code_lines: 16
          #plugin_code_load: 400
          #plugin_code_visibility: public
          
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_indepth: yes
          plugin_languages_other: yes
          plugin_languages_limit: 10
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 4
          plugin_lines_sections: base
          
          #plugin_people: yes
          #plugin_people_limit: 36
          #plugin_people_shuffle: yes
          #plugin_people_size: 28
          #plugin_people_types: followers, following
          
          plugin_traffic: yes
