# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
    schedule: [{ cron: "0 12 * * *" }]
    workflow_dispatch:
    push: { branches: ["master", "main"] }
jobs:
    github-metrics:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - uses: lowlighter/metrics@latest
              with:
                  token: ${{ secrets.METRICS_TOKEN }}

                  filename: github-metrics.svg
                  output_action: none

                  user: FizzyApple12
                  template: classic
                  base: activity, community, repositories, metadata
                  base_indepth: yes

                  config_timezone: America/Indiana/Indianapolis

                  plugin_languages: yes
                  plugin_languages_analysis_timeout: 60
                  plugin_languages_analysis_timeout_repositories: 0
                  plugin_languages_categories: markup, programming
                  plugin_languages_colors: github
                  plugin_languages_indepth: yes
                  plugin_languages_other: no
                  plugin_languages_limit: 8
                  plugin_languages_recent_categories: markup, programming
                  plugin_languages_recent_days: 14
                  plugin_languages_recent_load: 300
                  plugin_languages_sections: most-used
                  plugin_languages_threshold: 0%

                  plugin_lines: yes
                  plugin_lines_history_limit: 1
                  plugin_lines_repositories_limit: 4
                  plugin_lines_sections: base

                  plugin_traffic: yes

            - name: Compile final SVG
              run: |
                  set +e

                  git checkout master
                  git config user.name github-actions[bot]
                  git config user.email 41898282+github-actions[bot]@users.noreply.github.com

                  sudo mv /metrics_renders/* ./

                  sudo rm ./main-layout.svg
                  cp ./main-layout-template.svg ./main-layout.svg

                  echo "s|{{METRICS_DATA_BASE64}}|$(base64 github-metrics.svg -w 0)|g" > replacer.sed
                  echo "s|{{LOGO_DATA_BASE64}}|$(curl -s https://raw.githubusercontent.com/Fizzy-Engineering/Logo/refs/heads/main/fizzyapple12.svg | base64 -w 0)|g" >> replacer.sed
                  echo "s|{{KITTENZ_FIZZY_DATA_BASE64}}|$(base64 kittenz-fizzy-vrchat.png -w 0)|g" >> replacer.sed
                  sed -i -f replacer.sed main-layout.svg

                  sudo rm replacer.sed

                  git add --all
                  git commit -m "Update github-metrics.svg and main-layout.svg - [Skip GitHub Action]"
                  git push
